[2019-11-15 17:09] Nachtflame opened #1 "No recipes for 1.14.4 ver"
Just wanted to be sure you knew, there are no recipes registering for the 1.14.4 version of your mod.

Using:
economyinc-1.6
forge-28.1.87

[2019-11-15 22:43] Nachtflame opened #2 "Crash when loading on Dedicated Server"
As per title & Crash report:
https://pastebin.com/t6txvDMw

in particular, Lines 42 & 43

java.lang.RuntimeException: Attempted to load class net/minecraft/client/gui/screen/Screen for invalid dist DEDICATED_SERVER

MC 1.14.4
forge-28.1.87
economyinc-1.6

[2019-11-19 13:25] mike-t commented on #2
Same crash with:
MC 1.14.4
forge-28.1.90
economyinc-1.6

thanks, this mod looks great!

[2019-11-22 01:40] Florent98 commented on #2
This issues has been fixed in the new version I just pushed to Curse. Thanks for the report!

[2019-11-22 01:40] #2 closed, assigned to Florent98

[2019-11-22 01:41] Florent98 commented on #1
This is issues has been resolved in the new update I just pushed on Curse. Thanks for reporting!

[2019-11-22 01:41] #1 closed, assigned to Florent98

[2019-11-24 20:52] tiphilou17 opened #3 "how to exchange nuget gold ?"
When card is upgrade with micro, atm wireless ok but not change nugget gold ( to this mod) with gold changer, i dont understand how do make it.

[2019-11-24 21:07] Florent98 commented on #3
As it's an alpha version of the mod, the gold nugget is not implemented yet. Even tho the items and blocks are available they are not functional for now. I'm currently fixing in order what needs to be fixed. Here is the roadmap .

**RoadMap**

- [✔] FIX BILLS STORAGE
- [✔] LIGHTING THE TESR MODELS (FIXED partially, no lightmap, so everything is bright, need to add a bit of light)
- [✔] GEAR AND GE

[2019-11-24 21:12] tiphilou17 commented on #3
ok, thx to this faster news. GOOD LUCK ITS A GREAT Job !

[2019-11-24 21:13] Florent98 commented on #3
Thanks for posting that comment, it allowed me to put that roadmap somewhere!

[2019-11-25 01:38] #3 closed, assigned to Florent98

[2019-12-06 19:38] AGuyNamedJens opened #4 "ATM breaking"
ATMs can be easily broken with just one hit from both OPs and non-ops, how do i prevent that?

[2019-12-07 08:24] Florent98 commented on #4
Hello, it's not supposed to work like that. It's normally unbreakable. Thanks for the report I'm gonna look into it.

EDIT : After some checking, I'm not able to break it. Ops have the ability to break it since they are operators and often 'admins'. For non-ops it's not possible to break it. In which versions are you ?

[2019-12-07 12:27] AGuyNamedJens commented on #4
The latest version of the mod

[2019-12-07 12:27] AGuyNamedJens commented on #4
on forge forge-1.12.2-14.23.5.2831-universal

[2019-12-07 12:29] Florent98 commented on #4
EconomyInc 1.5 - MC1.12.2 (src: https://www.curseforge.com/minecraft/mc-mods/economy-inc/files/2526391) this one ?

[2019-12-07 12:34] Florent98 commented on #4
Ok I have found the version that is responsible, I will fix that and push it to curse as soon as I can thanks for the report!

[2019-12-07 12:34] #4 closed, assigned to Florent98

[2019-12-07 12:36] AGuyNamedJens commented on #4
Yeah the latest 1.12.2 one, thanks!

[2019-12-07 12:39] AGuyNamedJens commented on #4
How do people get their own money without me cheating it in? i can't get that to work btw

[2019-12-07 12:55] Florent98 commented on #4
New update I'm going to push for minecraft 1.12 is the version 1.6.1 so the latest version of the mod (which is still being updated for 1.14 but soon released) have a new way of working. By smelting a gold ingot you will now obtain the pure gold nugget that has a certain weight. When processing that gold nugget into the block changer your credit card will be updated. For you as an admin you have t

[2019-12-07 13:00] AGuyNamedJens commented on #4
Oh okay cool. I just melted one ore, but appearently putting that nugget in the gold exchanger gets my credit card a worth of something like 5.55999999999 rather than 5.55 or 5.56, can that also be fixed?

[2019-12-07 13:01] Florent98 commented on #4
It happens sometimes that the value would get infinite decimal. That's a thing that will be removed, but not for now, it's a "detail" so it will be updated last. But yes it will :)

[2019-12-07 13:06] AGuyNamedJens commented on #4
Okay cool, and i just got this error when i tried accessing the same gold exchanger someone else was using. `[14:01:54] [Server thread/FATAL] [minecraft/MinecraftServer]: Error executing task
java.util.concurrent.ExecutionException: java.lang.NoClassDefFoundError: net/minecraft/client/resources/I18n
        at java.util.concurrent.FutureTask.report(Unknown Source) ~[?:1.8.0_231]
        at java.ut

[2019-12-07 13:21] Florent98 commented on #4
I'll look into that, it's a weird crash..

[2019-12-07 13:43] AGuyNamedJens commented on #4
I also just found a village's bank, bought the code but its not working lol..

[2019-12-07 13:44] AGuyNamedJens commented on #4
okay appearently you need a vault cracker for that to work

[2019-12-07 13:44] Florent98 commented on #4
Yes, you need a special tool. The digital vault cracker.

[2019-12-07 16:20] AGuyNamedJens commented on #4
I cant seem to find out how to use the vending machine to BUY items for money rather than selling items for money, like an admin shop

[2019-12-07 16:35] Florent98 commented on #4
You can buy with money from a seller, but you cannot sell an item to the seller to receive money. You have to make your own seller with what you are selling for a certain price for that. And you can click on the "unlimited stack" above the gui when creating it, so the seller won't run out of resources. But that's an interesting idea to add :)

[2019-12-17 22:54] tiphilou17 opened #5 "crash server"
forge 107 minecraft  1.14.4

one crash and after its ok... with gold changer, vending machine (not click possible) muste replace to use.

https://gist.github.com/tiphilou17/e763fdba165d7f50778643d26e7489e6

[2019-12-17 23:04] tiphilou17 opened #6 "vending machine"
FORGE 107 Minecraft 1.14.4
i place a vending machine, 64 furnaces to 200$, validate, and i click i have the vending interface but my friend no click possible, and with friend's machine i can't click on his VM.

[2019-12-18 17:33] Florent98 commented on #5
Hello,

Can you explain exactly the step to reproduce the bug ? Thanks! I'll look into it as soon as I recover my computer

[2019-12-18 17:33] Florent98 commented on #6
Hello,
Thanks! I'll look into it as soon as I recover my computer

[2019-12-19 14:52] Florent98 commented on #6
Hello, I have resolved the problem, it was a mistake from me. It will be pushed as soon as other bugs are fixed.

[2019-12-19 14:55] #6 closed, assigned to Florent98

[2019-12-20 00:41] tiphilou17 commented on #5
1- i have gold changer in my inventory
2- i take in my hand item and go to place
3- crash server

reboot

1- i have vending machine in my inventory
2- i take in my hand item and go to place
3- crash server
4-reboot
5- no click on this vending its possible
6- destroying vending 1 and place vending 2 (no crash), its ok validate price item...but i am the only player can open interface, other guy can'

[2019-12-20 08:15] Florent98 commented on #5
Hello,

Thanks for those steps, I'll try to reproduce the bug, even tho it's really weird that it's happening. The bug with the vending machine was fixed and released on Curse. Is this the full crash? Can you post the log ?

[2019-12-20 22:04] tiphilou17 commented on #5
its ok with EconomyInc 1.6.3 - MC1.14, vending machine work and gold changer no crash but no dolllars (not implemented i think), good work

[2019-12-20 22:05] Florent98 commented on #5
No dollars, where ?

[2019-12-20 22:13] tiphilou17 commented on #5
in gold changer, i place card upgraded and pure nugget gold but no result, no click on any money changing.

[2019-12-20 22:14] Florent98 commented on #5
Does your pure gold nugget has a weight ? It gives you a weight by smelting gold ingot into a furnace. It's a feature that is still raw tho, so I'll work on it ;)

[2019-12-20 22:59] tiphilou17 commented on #5
in give admin no work no weight, in survival process furnace and inventory its ok wieht appear, perfect work.

[2019-12-20 22:59] #5 closed, assigned to Florent98

[2020-01-08 00:29] kjanuska opened #7 "Seller block breaks"
On version 1.6.3 anyone (OP or not) can break the seller block, even without a wrench. When broken the block doesn't drop anything, not even itself. The vault works as intended (only owner can break with a wrench).

[2020-01-08 19:03] Florent98 commented on #7
It has been fixed and will be pushed soon. Thanks for the report.

[2020-01-08 19:03] #7 closed, assigned to Florent98

[2020-03-23 23:33] Locap4 opened #8 "Funds=0.0 after death"
I'm playing with the beta version for 1.15.2 on a Forge Server.

When i die I have no more money on my credit card and it behaves like it hasn't been upgraded with the micro chip.

However when I disconnect for awhile (5-10min) and reconnect everything comes back to normal, my funds is the same as before i died and my credit card is upgraded.

[2020-03-25 16:10] EnterFor opened #10 "A couple of problems I had"
![image](https://user-images.githubusercontent.com/10114685/77558462-eb2f2600-6ef5-11ea-9db5-d177bd03a598.png)
I did not find the relevant string, I cannot translate it.

![image](https://user-images.githubusercontent.com/10114685/77558587-10bc2f80-6ef6-11ea-91fe-f18f30faca2b.png)
Is my texture wrong?
I don't remember it that way.
If you need to provide debug.log, please contact me.
I love this Mo

[2020-03-25 16:14] EnterFor commented on #10
![image](https://user-images.githubusercontent.com/10114685/77558935-86280000-6ef6-11ea-8f5f-4f24a4fff706.png)
This Can 't be translated? (I see localization doesn't seem to work)

[2020-03-25 16:19] EnterFor commented on #10
![image](https://user-images.githubusercontent.com/10114685/77559541-49103d80-6ef7-11ea-9101-bde425d7b1f3.png)
![image](https://user-images.githubusercontent.com/10114685/77559681-69d89300-6ef7-11ea-8c5a-04444306e983.png)

This item shows a blank，unknown aetiology

[2020-03-25 17:41] Florent98 commented on #10
Hello, I will check for the block seller. Might have a problem with transparency texture not enabled in code. As for the block bills, it's a beta version, and Tile Entity Renderer (TER are actually WIP and are not working properly, so it will come). I will add the translation for the thing you asked! Thanks I leave this thread open so I can comment If I need more info :)

[2020-03-26 03:07] EnterFor commented on #8
Hope the author can fix it

[2020-03-27 08:14] EnterFor commented on #10
What's the progress?
I don't want to make you angry because I want to play it on the server too much
Apologize in advance:):)

[2020-03-27 16:13] Florent98 commented on #10
There is no progress for now. I had a huge data loss on my computer. I'm trying to get everything back. But some code needs debug because the code for the credit card when you die and respawn is there but it seams it's not working.

[2020-03-28 00:47] Florent98 commented on #8
Got it fixed! Thanks for the report :)

[2020-03-28 00:47] #8 closed, assigned to Florent98

[2020-03-28 01:20] #10 closed, assigned to Florent98

[2020-03-28 01:36] Florent98 commented on #10
I fixed the block seller appearance, the translations. Block bills is still WIP.

[2020-03-28 11:06] EnterFor opened #11 "[1.15.2]Client crash"
[crash-2020-03-28_19.03.49-server.txt](https://github.com/FifouBE/EconomyInc/files/4396985/crash-2020-03-28_19.03.49-server.txt)
When I place a block seller, the client crashes

[2020-03-28 15:15] Florent98 commented on #11
I don't have any crash when playing solo. Can you precise if you play on server, if you did something special before ?

[2020-03-28 15:16] EnterFor commented on #11
I didn't use it on the server, it happened while I was testing on the client

[2020-03-28 15:17] Florent98 commented on #11
You just placed it and it crashed ? Was it on a current save ?

[2020-03-28 15:18] EnterFor commented on #11
I just updated it, put it on the ground, and it happened

[2020-03-28 15:19] EnterFor commented on #11
If so, I think it might be in conflict with one of my mods
I guess I'll have to look into it

[2020-03-28 15:19] Florent98 commented on #11
I can't reproduce it on my end, so it might be on yours, if you find why, please tell me :)

[2020-03-28 16:01] EnterFor commented on #11
[debug.log](https://github.com/FifouBE/EconomyInc/files/4397405/debug.log)
This could be related to Xaero's Minimap, right? Should I give him feedback?

[2020-03-28 16:04] Florent98 commented on #11
I'd try destroying all the block seller currently on the map. And try again. Also can you try on a new save see if it's a mod to mod problem. Or if it's map save problem?

[2020-03-28 16:09] EnterFor commented on #11
My world is new,
when I deleted Xaero's Minimap and the issue was resolved

[2020-03-28 16:09] Florent98 commented on #11
Weird. Might be a problem with that mod, but I don't know why it happens..

[2020-03-28 16:14] EnterFor commented on #11
Haha, whatever
I'm going to switch to Journey Map.

By the way,By the way, when I set up the items for sale, can the window show the material? (I have added the item in the picture, but it shows blank)
![image](https://user-images.githubusercontent.com/10114685/77827660-eff01600-7151-11ea-98d2-750846d98c3b.png)

[2020-03-28 16:18] Florent98 commented on #11
Yes, there is currently a bug in 1.15. They changed a lot about rendering, so it's not available yet.

[2020-03-28 16:19] EnterFor commented on #11
Thanks

[2020-03-28 16:19] #11 closed, assigned to Florent98

[2020-03-28 16:22] EnterFor opened #12 "[1.15.2]It's me again, some advice"
1、Request to add string
![image](https://user-images.githubusercontent.com/10114685/77827895-3abe5d80-7153-11ea-8f27-3d23e99902db.png)

2、What should players do if they want to sell items over $500?

[2020-03-29 15:40] Florent98 commented on #12
I'll add the string.

As I say for someone on curse. I will rework the seller. But i'm trying to update everything that needs to be updated first, before adding new stuff.

Thanks for the report

[2020-03-29 15:40] #12 closed, assigned to nobody

[2020-03-29 17:06] Florent98 commented on #12
I changed the string, it's not a new line in the lang file, it's the lines :

"title.unlimitedStack":"unlimited",
"title.limitedStack":"limited",

since they already existed but were not used anymore, I use them now for that.

[2020-03-30 12:09] Kevo512 opened #15 "Help with balancing the gold and possible bug?"
Hey so i wanted to ask how do you configure the rates of Gold=Money when using the Gold Changer, because you said, in the curse page, that the admin could balance this, or change it atleast, and i can't find the option ( i tried with commands and with the mod options forge alternative )

and the other thing is that when i "cook" a gold ingot it gives me a golden nugget with a certain weight and th

[2020-03-30 14:07] Florent98 commented on #15
The mod config for server is on the world folder > serverconfig folder > economyinc-server.toml.

For the gold nugget issues, it might be a problem of sync client to server. But gold recipe is going to change, so for the moment please work with it before the new update that should resolve those problems.

[2020-03-30 14:36] Kevo512 commented on #15
Hi, thanks for answering so fast

Just for you to know, the golden nugget bug happened to me in singleplayer AND in multiplayer

Just wanted to clarify this and thank you

[2020-03-30 14:38] Florent98 commented on #15
Hi. Ok, but minecraft singleplayer has an internal server, so it's probably due to the fact that is not sync between the two entities. Thanks for the report! :)

[2020-03-30 14:38] #15 closed, assigned to Florent98

[2020-04-04 09:13] EnterFor opened #16 "[1.15.2]Client crash"
[crash-2020-04-04_17.08.08-client.txt](https://github.com/FifouBE/EconomyInc/files/4431058/crash-2020-04-04_17.08.08-client.txt)
When I find the bills in JEI, and I see it, the client crashes.

When the create mode TAB bar hits EconomyInc, the client also crashes.

Anyway, when I see this block, my client crashes.

[2020-04-04 09:14] EnterFor commented on #16
Since I didn't know who the problem was, I also submitted a report to buildinggadgets

[2020-04-04 14:35] Florent98 commented on #16
As I said, the render of the block bills is still WIP, so that's why it may crash. Wait for a future release! Thanks! :)

[2020-04-04 14:35] #16 closed, assigned to nobody

[2020-04-07 06:33] EnterFor opened #17 "[1.15.2]Client crash"
EconomyInc 1.6.7
details：https://github.com/Direwolf20-MC/BuildingGadgets/issues/464

[2020-04-07 06:34] MajorTuvok commented on #17
Related to #16

[2020-04-07 06:36] MajorTuvok commented on #17
It looks like you are passing the tile of your BlockBills to our renderer, instead of passing our tile in. Which then results in the compiler inserted casts to crash... (unchecked casts are... Unchecked! Hooray! XD [I just assume that you are casting this contravariant type, as otherwise the compiler would prevent you from passing it in])

[2020-04-07 08:49] MajorTuvok commented on #17
To be honest: I'm also confused about what happens in the line above, I think it should refer to this line: https://github.com/FifouBE/EconomyInc/blob/856cfcbcdc047face80d6dc0312331210364d4f7/src/main/java/fr/fifoube/blocks/tileentity/specialrenderer/inventory/TileEntityInventoryRenderHelper.java#L29
This seems to be checking the block...
Slightly below it admittedly does pass your tile through, b

[2020-04-07 09:04] MajorTuvok commented on #17
I don't really understand without more time what you're intention is here. Whatever happens, it results in MC relaying you're rendered Tile through to us. I guess you'll have to debug that.

(On a Side note: you've misspelled your Block(s)Registry as BlocksRegisterey)

[2020-04-07 15:50] Florent98 commented on #17
Hello, I read the whole thread here and on the other git issue.
The render in the inventory is not done at all. The ` TileEntityRendererDispatcher.instance.renderItem(this.teBills, matrixStackIn, bufferIn, combinedLightIn, combinedOverlayIn);
`
should take care of the render in inventory but is currently not working, it return true which means that

So I suppose that since mc can't render it, it g

[2020-04-08 04:07] EnterFor commented on #17
Here I am, you can send it to me to download

[2020-04-08 15:55] Florent98 commented on #17
The jar, is in the zip file :)
[EconomyIncExperimental.zip](https://github.com/FifouBE/EconomyInc/files/4451493/EconomyIncExperimental.zip)

[2020-04-09 02:42] EnterFor commented on #17
After the test, the crash disappeared

[2020-04-09 02:43] Florent98 commented on #17
So it's the inventory render that could not be rendered so it goes to your rendering system. I will remove the line, and once fixed I'll update mod! Thx!

[2020-04-09 02:46] EnterFor commented on #17
In addition, the Bills block look blank, but they can be placed normally

[2020-04-09 02:47] Florent98 commented on #17
Can you attach a picture. The version you have is experimental, so it contains some new features and fixes.

[2020-04-09 02:53] EnterFor commented on #17
![image](https://user-images.githubusercontent.com/10114685/78852973-5299b980-7a50-11ea-9ddf-ea88e922d0f6.png)
![image](https://user-images.githubusercontent.com/10114685/78852983-59c0c780-7a50-11ea-83c4-c3987fb72c27.png)

[2020-04-09 02:54] Florent98 commented on #17
No it's normal I removed the line for the inventory render, it was not working and causing problem. but it works in the world.

[2020-04-09 02:56] EnterFor commented on #17
No problem, it does not affect my use, thank you for your hard work~：)

[2020-04-09 02:56] Florent98 commented on #17
No problem. I close this issue if you have any other problem please open a new one.

[2020-04-09 02:56] #17 closed, assigned to Florent98

[2020-04-09 16:22] epeeforteyt opened #18 "Don't loot"
Hello, I have a question about your mod,

I can't relaunch the "Gold changer" with the mod key, is this normal or not?

In addition, there is no config file on the server side, any idea?

Version forge: forge-1.15.2-31.1.41.jar
Mod: EconomyInc 1.6.7 - MC1.15

[2020-04-09 16:43] Florent98 commented on #18
Hey!

I don't understand your question about the gold changer ? What are you trying to do ?

Server config were moved from the config folder, they are now :
- Dedicated server : world/serverconfig
- Internal server (singleplayer) : saves/TheWorld/serverconfig

[2020-04-09 20:37] epeeforteyt commented on #18
With the wrench, it is impossible for me to be able to resume the "Gold Changer" block even with silk touch: /

[2020-04-09 20:41] Florent98 commented on #18
Oh! Yeah I just saw that in the build. Will be fixed soon. I plan on releasing a patch certainly tomorrow, if not maybe this week-end. I just need to fix that and some other things.

Merci d'avoir report :)

[2020-04-09 21:27] #18 closed, assigned to Florent98

[2020-04-09 21:41] epeeforteyt commented on #18
De rien l'ami :)

[2020-04-10 14:38] epeeforteyt opened #19 "Question"
J'ai une petite question, concernant les gold nuggets se qui ont un poids, on est obliger de passer par le four vanilla, serait-il possible de faire une compatibilité avec par exemple celui de Mekanism, car il n'a pas de poids il fois cuit.

Par la même occassion, sur le bloc Vending Machine, on est limité a 500$ d'échange, possible d'avoir une config que nous même on peut le config ? Merci d'avan

[2020-04-10 16:06] Florent98 commented on #19
Salut!

Pour l'instant la recette de la gold nugget pure passe par le furnace de minecraft et par les recettes json. Je ne sais absolument pas ce qu'il faut faire pour que ce soit compatible avec Mekanism.. Le block de vente est assez primaire pour l'instant mais ca devrait changer. Une fois que j'ai tout fix, je devrais commencer a rework le seller. Je compte ajouter une facon d'ajouter le montan

[2020-04-10 16:08] Florent98 commented on #19
Ah, tu as bloquer les demandes d'amis ^^ Voilà mon tag: [removed]

[2020-04-10 18:22] epeeforteyt commented on #19
Ok thanks

[2020-04-10 18:22] #19 closed, assigned to Florent98

[2020-04-13 10:38] H4Mm3r opened #20 "Error at start"
Forge 28.2.3
Economy INC 1.6.6

[12:36:53] [Server thread/ERROR] [minecraft/RecipeManager]: Parsing error loading recipe economyinc:vault_cracker
com.google.gson.JsonSyntaxException: Unknown item 'economyinc:item_vault_cracker'
        at net.minecraft.item.crafting.ShapedRecipe.lambda$deserializeItem$0(ShapedRecipe.java:264) ~[?:?] {re:classloading,pl:accesstransformer:B}
        at java.util.Opt

[2020-04-13 13:56] Florent98 commented on #20
It's fixed in the version 1.6.8 for Minecraft 1.15. It doesn't prevent you from launching the server, it's just a parsing error from the jsons. If you are in 1.14 please ignore it.

[2020-04-13 13:56] #20 closed, assigned to Florent98

[2020-04-15 18:01] H4Mm3r commented on #20
Thanks for the answer

[2020-04-25 21:14] LegitLegendary0 opened #21 "Missing Vault Cracker recipe"
mod was working fine this morning but now it is missing something calleda vault cracker recipe on my server.

[2020-04-25 23:02] Florent98 commented on #21
Hello, vault cracker was removed in the last version. Are you sure the version on the server is the same as the client ? I need the version you are using MC and mod version. Please post your debug log here, server and client. If you don't want to post it here, please pm me.

[2020-04-25 23:02] FifouBE commented on #21
Also could you reference the version you are on ? MC version and mod version ?

[2020-04-25 23:07] LegitLegendary0 commented on #21
Hey ill send the log tomorrow since it's midnight right now but my
minecraft version is 1.15.2 same as the economy Inc mod, which did work for
4 hours this morning anyway, but when I went to load up my server, 5
minutes in it kicks me out and shuts down the server. I'll send all logs
tomorrow.

On Sun, 26 Apr 2020, 00:02 FifouBE, <notifications@github.com> wrote:

[2020-04-25 23:10] Florent98 commented on #21
You might need to check the console, you might have to type command like /fml yes, because forge sees previous block that doesn't exist anymore. So it's probably asking you if you want to continue without them, by typing /fml yes or /fml no

[2020-04-26 15:56] LegitLegendary0 commented on #21
hey so i went to remove the mod and now i cant join my server, it gives me
the error: closed connection-mismatched mod channel list. how do i fix that

On Sun, Apr 26, 2020 at 12:11 AM FifouBE <notifications@github.com> wrote:

--
*Thanks,*
*             LX*

[2020-04-26 15:58] Florent98 commented on #21
Without any log I can't say what is the problem. A connection mismatched is either a mod that is not the same on client and server or a forge version.

[2020-04-26 16:10] LegitLegendary0 commented on #21
yeah im pretty sure it was my forge version, all seems to be working fine
now and i have no mods, your mod displays an error message for the vault
cracker in the server logs, i have the latest version of your mod since i
downloaded it yesterday.

On Sun, Apr 26, 2020 at 4:58 PM FifouBE <notifications@github.com> wrote:

--
*Thanks,*
*             LX*

[2020-04-26 16:12] Florent98 commented on #21
Can you send that error ? That kind of error doesn't prevent you to access the game anyway.

[2020-04-26 16:15] LegitLegendary0 commented on #21
give me a few minutes i need to enable the mod again

On Sun, Apr 26, 2020 at 5:12 PM FifouBE <notifications@github.com> wrote:

--
*Thanks,*
*             LX*

[2020-04-26 16:20] LegitLegendary0 commented on #21
It is the economy inc mod, it doesnt work with 1.15.2 because now it wont
let me join the server because of it

On Sun, Apr 26, 2020 at 5:14 PM LegitLegendary0 <legitxhack@gmail.com>
wrote:

--
*Thanks,*
*             LX*

[2020-04-26 16:21] LegitLegendary0 commented on #21
[17:19:21] [main/INFO] [cp.mo.mo.Launcher/MODLAUNCHER]: ModLauncher
running: args [--gameDir, ., --launchTarget, fmlserver, --fml.forgeVersion,
31.1.47, --fml.mcpVersion, 20200414.225201, --fml.mcVersion, 1.15.2,
--fml.forgeGroup, net.minecraftforge]
[17:19:21] [main/INFO] [cp.mo.mo.Launcher/MODLAUNCHER]: ModLauncher
5.0.0-milestone.4+67+b1a340b starting: java version 1.8.0_251 by Oracle
Corporati

[2020-04-26 16:27] Florent98 commented on #21
You are not running the same version of the mod on the client and on the server. "Terminating connection with client, mismatched mod list". Are you sure you have the version 1.6.8 of Economy Inc ?
https://www.curseforge.com/minecraft/mc-mods/economy-inc/files/2927222

[2020-04-26 16:29] LegitLegendary0 commented on #21
i actually found the mod on minecraft9 which i downloaded through server 1
for 1.15.2
http://www.9minecraft.net/economy-inc-mod/

On Sun, Apr 26, 2020 at 5:27 PM FifouBE <notifications@github.com> wrote:

--
*Thanks,*
*             LX*

[2020-04-26 16:31] Florent98 commented on #21
Never download trough those website. They have their own servers, hosting the mods on their own and using it with ad links so they can get money from it, which is normally not allowed. Please download the latest version via the curse page https://www.curseforge.com/minecraft/mc-mods/economy-inc

With curse you are sure to have the latest I put myself to download. They might have not put the latest

[2020-04-26 16:36] LegitLegendary0 commented on #21
thanks man, it finally works again, may i just ask though, how do you set
the pure gold exchange rate?

On Sun, Apr 26, 2020 at 5:31 PM FifouBE <notifications@github.com> wrote:

--
*Thanks,*
*             LX*

[2020-04-26 16:37] LegitLegendary0 commented on #21
also how do you sell the property once  bought

On Sun, Apr 26, 2020 at 5:35 PM LegitLegendary0 <legitxhack@gmail.com>
wrote:

--
*Thanks,*
*             LX*

[2020-04-26 16:38] LegitLegendary0 commented on #21
and what do the gears do

On Sun, Apr 26, 2020 at 5:37 PM LegitLegendary0 <legitxhack@gmail.com>
wrote:

--
*Thanks,*
*             LX*

[2020-04-26 16:57] LegitLegendary0 commented on #21
Your mod is causing the server to lag alot. the server was fine before i
downloaded it, my computer is pretty high end and can hadle alot but the
mod causes the game to slow down alot.

On Sun, Apr 26, 2020 at 5:38 PM LegitLegendary0 <legitxhack@gmail.com>
wrote:

--
*Thanks,*
*             LX*

[2020-04-26 19:11] Florent98 commented on #21
Yes, the last version you take, is in beta. So I can't guarantee full efficiency. I'm currently working on a problem that might be the cause of that lag, but please if you experience too much problem I recommend you to wait before using the mod. As it's not the final release, and it's still in beta, sorry for  the inconvenience.

[2020-04-26 19:12] Florent98 commented on #21
Also I recommend you to read the thread on https://www.curseforge.com/minecraft/mc-mods/economy-inc , there are plenty infos over there that can be useful for the questions you asked, also the comments of the official page I explained to many people about the gold nugget exchange rate ;)

[2020-05-07 07:20] puggan opened #22 "Feature Request: Let op asign plots"
1. If the `/plotbuy`-command also took a playername argument
* then op:s could help players get there plot
* then commandblock could be used to assign plots

2. or add an `/plot assign`?

3. If the `/plot create`-command took an playername argument
* then op could set up plots that already have owners.

[2020-05-10 02:12] mr-poyo opened #23 "[Feature Request] 1.15.2 Admin Store for servers ideas"
Hello,

Great mod! Thank you! I would love an Admin store feature. I am currently working on a server and am using Economy Inc as the currency mod. I see huge potential in putting vending blocks at spawn to encourage players to return to spawn for "shopping."

**Some ideas I hope you will consider for this mod:**

- When a vending block is placed in creative mode, perhaps have the ownerName assign

[2020-05-10 06:26] mr-poyo opened #24 "[Bug] 1.15.2 Vending Block - Orders still processed with full inventory"
Version: EconomyInc-1.6.8MC1.15.jar
Forge: 31.1.41

When purchasing an item from a Vending Block while your inventory is full, the order is still processed, but no item is given. i.e., the funds are subtracted, but the item never appears. Would be cool to have a check in place for this so that the order can't process.

Steps to Reproduce:
1) Place a Vending Block with an item inside at a price (e.

[2020-05-10 11:42] Florent98 commented on #24
This is a known issue, it will be fix! Thanks for the report!

[2020-05-10 11:42] #24 closed, assigned to Florent98

[2020-05-11 16:09] Florent98 commented on #23
Hello,

- The problem of assigning it to a dummy player means that block couldn't be access back and you'd have to destroy it as op to then replace it and modify the seller. What I can do is put an option at the creation to remove the funds to recover option.

- Vending machine now provide a redstone output everytime a player buys an item. Meaning you can activate command blocks etc without overfl

[2020-05-11 16:11] Florent98 commented on #22
That's great idea and will definitely implement that!

Thanks for your comment.

[2020-05-11 18:17] #21 closed, assigned to Florent98

[2020-05-11 18:17] #22 closed, assigned to Florent98

[2020-05-11 21:53] mr-poyo commented on #23
Thanks! Both solutions would work!

[2020-05-12 01:56] #23 closed, assigned to Florent98

[2020-05-20 23:39] vichocruz opened #25 "Can't upgrade the credit card, and some requests"
Hi! I'm really loving the idea of your mod, and I think it's the best one around for forge, but there is an issue that I've found and I wanted to know if I'm doing something wrong or if it's a bug, but I can't upgrade the card with the microchip. I have tried using it while having the card on the other hand, with shift, without, etc, but nothing works, it only creates a duplicate of the card on th

[2020-05-21 14:59] Florent98 commented on #25
Hello! Normally you just right click the microchip while having the credit card in your inventory (not in second) normally the microchip should disappear et the card should be upgraded. If you don't have the card, you can still buy in vending machine but you need to have the card in your inventory, if you have microchip you can buy anything without having the credit card in your inventory.

The bu

[2020-05-26 20:19] JustinJohnSullivan opened #26 "/plotbuy buy nameOfThePlot only works for Minecraft administrators (OPs) it does not work for players."
/plotbuy buy nameOfThePlot only works for Minecraft administrators (OPs) it does not work for players. If a player types "/plotbuy buy nameOfThePlot" the "buy" text is red and players get an "**Incorrect argument for command**" message when they try to run the command.

![plotbuy](https://user-images.githubusercontent.com/7001979/82946476-07862800-9f64-11ea-9dfa-5a11dde7b7fe.png)

[2020-05-26 20:25] JustinJohnSullivan commented on #26
btw. We are using "**_EconomyInc-1.6.8MC1.14.jar_**" and I should also mention that we **LOVE** your mod. It is awesome! Would be even better if all players could purchase the plots. Thanks for the excellent work!

[2020-05-26 20:29] JustinJohnSullivan commented on #26
_Note:_ Players have the upgraded credit card wireless technology to buy the plot and the plot was created by the admin _and_ the admin who created the plot can purchase the plot using the /plotbuy command, so the issue seems to only be with players. Thank you for any help you can provide.

[2020-05-27 01:55] Florent98 commented on #26
Hello! It was fixed in the version 1.6.9 of the mod for Minecraft 1.15.

Unfortunately, the version for Minecraft 1.14 is not updated yet. So please be patient and be sure it's coming soon.

Thanks for the report!

[2020-06-01 17:51] realTIMematrix opened #27 "[1.15.2] Crash with Ender Storage and Economic Inc"
Hi,

the game crashed and I don't know which mod produce the issue. I can only see that both mods together doesn't work.

Using:

- Forge: 31.2.0
- jei-1.15.2-6.0.0.4.jar
- EnderStorage-1.15.2-2.5.0.143-universal.jar
- CodeChickenLib-1.15.2-3.3.0.373-universal.jar
- economyinc-1.6.9.jar

Steps to reproduce:

1. Create new game in creative
2. Open Creative Tab and select transportation register (wh

[2020-06-01 20:13] Florent98 commented on #27
Hello!

I checked a bit can you try with this experimental see if the crash is still happening ?
[EconomyInc169Experimental.zip](https://github.com/FifouBE/EconomyInc/files/4713203/EconomyInc169Experimental.zip)

Thanks!

[2020-06-01 23:51] covers1624 commented on #27
https://github.com/FifouBE/EconomyInc/blob/master/src/main/java/fr/fifoube/main/capabilities/CapabilityMoney.java#L44 Entities can be constructed with null worlds for Rendering related things, move your profiler calls inside that If block and guard against a null world.

[2020-06-02 00:01] Florent98 commented on #27
I removed those lines, it was only for me during debugging.. I forgot to remove them from the mod once build. Just need confirmation that it was that the cause and I'll push the update.

Sorry about that!

[2020-06-02 15:26] realTIMematrix commented on #27
Experimental Version works. If you release this version this would be nice. Then we can close this issue

[2020-06-02 15:44] Florent98 commented on #27
I was just waiting for your confirmation. Perfect! I'll push the update as soon as I can!

[2020-06-02 15:44] #27 closed, assigned to Florent98

[2020-06-03 08:54] mr-poyo opened #28 "[1.15.2] Can't use /balance command in datapack functions"
**Forge:** 31.2.5
**Version:** economyinc-1.6.9.1.jar

Hello again!

I am writing a datapack for my server and I came to a point where I would like to call '**balance add @p[tag=daily-01] 5**' through a function, but it doesn't seem to be working.

I am currently using this in my tick.json:
execute at @a[tag=daily-01] run function poyo:daily/daily-01

Once a player is assigned the daily-01 tag, it

[2020-06-03 16:01] Florent98 commented on #28
Hey!

I think it's due to the fact that the commands needs to be executed by a player and an OP one. If you try running it from the server console it won't work either. I'm going to change that so op player or server can execute this commands.

[2020-06-04 01:56] mr-poyo commented on #28
Thanks! Hopefully that will fix it. Oddly enough, I'm already able to add balance via server console. But hopefully this will fix datapacks if you specify server as executor as well.

[2020-06-04 14:52] Florent98 commented on #28
I checked, and normally you should be able too. Is data pack giving any error that would help ?

[2020-06-04 21:53] mr-poyo commented on #28
Hello again,

Here is the error i found in latest.log by CTRL+F searching for main.mcfunction: https://pastebin.com/6trc9gCd

It looks like possibly the command hasn't registered yet? No idea. For this particular log, I re-added the balance to my main function line 4 and commented out all the rest for testing.

![balance](https://user-images.githubusercontent.com/11811815/83813596-a3e4c300-a6f8-11

[2020-06-05 00:43] Florent98 commented on #28
I have 0 knowledge about datapacks, the illegal argument exception is what is says, basically you are using a word, symbol that is not recognized or not allowed (If I remember correctly) but why ? I have no clue, I'll make some research on my end and ask for help because as I said I don't know datapack at all.

I'll come back to you with a definitive answer as soon as I can.

[2020-06-05 00:54] mr-poyo commented on #28
No worries, if it becomes too much time, please just close and forget for now. I have a workaround to get it working using datapacks and command blocks together. Thanks for your hard work! Looking forward to 1.7.0 (is that the one with the redstone firing on vending blocks? :D)!

[2020-06-05 00:58] Florent98 commented on #28
No problem! At least you have a workaround but now you made me curious and I would like to know and learn so I can allow it :) The latest version you have already gives redstone output after buy. But I will need to add a cooldown to the button, because it creates problems during lag etc. So that's what I'm working on, and 1.7.0 is redoing the whole seller interface to allow any price, and adding a

[2020-06-05 21:40] Florent98 commented on #25
Hello.

It's been 2 weeks since my last post, so i consider this issue resolved.

If you have another problem please open a new one.

[2020-06-05 21:40] #25 closed, assigned to Florent98

[2020-06-10 00:16] mr-poyo opened #29 "[1.15.2] Request minecraft stat for using Gold Changer"
Hello,

I am trying to do some command-block/scoreboard magic to limit how many times a player can use the gold changer per day, but I cannot find a good minecraft stat to use. Would it be possible to add a minecraft stat for this particular case?

![economyInc](https://user-images.githubusercontent.com/11811815/84212877-fe679000-aaf9-11ea-87e6-940530a7661c.PNG)

I was thinking it would be cool to

[2020-06-22 11:29] mr-poyo opened #30 "[1.15.2] Request for money logging in logs [server-admin-tool]"
Hello again,

Just had my first case of a cheater on my server and I thought it might be cool to have some sort of logging feature for money changes. Basically, it would create a .log file in /logs/ and store any value changes per line for example:

[code]

Basically, whenever a player's balance is updated, a string is generated in the log.

Could have it generate different logs per day and store

[2020-06-22 22:00] Florent98 commented on #30
Hello, do you know how he cheated ?
Was it by the seller ? It could be good to have more infos if you have some so I can see to patch that. Normally everything is "done" server side, which means even if the player (client) ask to buy something different then what the seller is selling, the server will verify everything and block that, but I may miss something that lead to that "cheat", so if you h

[2020-06-23 01:05] mr-poyo opened #31 "[1.15.2] Server crash when player joins server"
Version: 1.6.9
Forge: 31.2.20

**Update:** More than likely its the rftools builder 'quarry. '  i suspect it's not related to economy inc at all. When he removed the builder, the server stops hanging.

Hello again,
On my server, whenever a certain player joins, the server is stalling then eventually crashes (100% of the time). The log looks like it may have something to do with economy inc and RFt

[2020-06-23 01:11] mr-poyo commented on #30
Thanks. Looking forward to it!

Edit: Looks like he was duping items with an exploit in Refined Storage. I think it should be patched as of a few days ago. I, unfortunately, caught it too late.

Either way, i think the log will be super helpful when it comes to reviewing flags that pop up. Thank you 🙏

[2020-06-23 13:46] Florent98 commented on #30
Ok that's good to see! Yes don't worry I'll be adding those logs !

[2020-06-23 14:57] Florent98 commented on #31
Hello have you found the cause ?

[2020-06-23 18:56] Florent98 commented on #26
Update was pushed!

[2020-06-23 18:56] #26 closed, assigned to Florent98

[2020-06-23 19:37] Florent98 commented on #29
I managed to add a statistics but I don't know if it will be useful. It increase the number by one everytime gold is changed in the machine. But I don't know if scoreboard objectives is the same as minecraft statistics tab.. I'll try experimenting that.

[2020-06-24 09:59] mr-poyo commented on #31
Hello,

I would like to reopen this issue. With a new crash log that is not referencing RFTools:

crashlog: https://pastebin.com/57C9d4XB

This time, I am destroying a block in somebody else's territory. I should mention that we have Thut's essentials which has a ''claim chunk'' feature with permissions and such. I am an OP in creative mode trying to punch a block and this crash happens. Seems lik

[2020-06-24 10:56] Florent98 commented on #31
It’s really, I had no problem testing the mod alone.  The server is running behind as you can see in the crash log but it’s really weird it might be related with the claim chunk mod you have , I’ll try it on my own see why it crashes.

[2020-06-25 10:29] mr-poyo commented on #31
Deleted the .dat files fixed the issue. Confirmed with player using a Quarry. Thanks!

[2020-06-25 10:29] #31 closed, assigned to nobody

[2020-06-25 11:58] Florent98 commented on #31
Be careful that deleting those files will remove every plot on the server. I'll try to investigate myself to see if the bug is happening because it's an object mining and not a player. Thanks.

[2020-07-01 19:32] zeven001 opened #32 "Command to exchanged !!"
Hi i need help with mod how to do use exchange to gold?

[2020-07-01 19:37] Florent98 commented on #32
Please rewrite your issue in english. I do manage to understand spanish, but I would like to be
1. sure of what you are saying
2. keep this github issue only english (universal language)

Thank you!

[2020-07-01 19:41] zeven001 commented on #32
sorry this my question What is the command for the change of gold?

[2020-07-01 19:52] Florent98 commented on #32
The change of gold is not accessible by command, it's in the config files server side, in your world files in server config and in the file economyinc-server.toml that you can open with any text editor, change the line "multiplierGoldNuggetWeight = 2" , you can change the number to any number from 1 to 9999.

[2020-07-01 19:53] zeven001 commented on #32
THANKS ALOT!!!

[2020-07-01 19:53] #32 closed, assigned to Florent98

[2020-07-12 18:08] Crmble opened #33 "What are all the commands for admins?"

[2020-07-13 00:15] Florent98 commented on #33
Hello there are many commands.

/balance add/remove/check Player amount (amount is only needed with add and remove)

/plot create x1 y1 z1 x2 y2 z2 UniqueName Price (create a plot with a certain price)
/plot remove NameOfThePlot (Remove the plot with that name)
/plot assign Player NameOfThePlot (Assign a plot to a player without making them buying)
/plot teleport NameOfThePlot Player (Teleport a p

[2020-07-13 00:58] Crmble commented on #33
What about for the gold converter

[2020-07-13 00:59] Florent98 commented on #33
There are no commands for gold convertor. If you need to change the multiplier, it's in the config of the server.

Are you looking to do something in particular ?

[2020-07-13 00:59] Crmble commented on #33
How do I enable it?

[2020-07-13 00:59] Florent98 commented on #33
The config ?

[2020-07-13 01:00] Crmble commented on #33
Im running a server from my own pc. How do I enable it from there?

[2020-07-13 01:01] Crmble commented on #33
![Capture](https://user-images.githubusercontent.com/68199405/87261090-6eab5d80-c47a-11ea-9156-6b053cce8e79.PNG)

[2020-07-13 01:01] Florent98 commented on #33
You normally have a folder, in your server folder, named server-config, it's in there. the .toml can be opened with any text editor.

[2020-07-13 01:03] Crmble commented on #33
I don't have the one for Economyinc in there
not sure why its not there. Mind sending me a copy of what's in there?

[2020-07-13 01:04] Florent98 commented on #33
It's in world > serverconfig > economyinc-server.toml

[2020-07-13 01:04] Florent98 commented on #33
If you still don't find it, I can send you a copy but I'm 99% sure it's there

[2020-07-13 01:05] Crmble commented on #33
Ah i found it, but what do i need to do to enable the gold converter?

[2020-07-13 01:07] Florent98 commented on #33
It's enabled by default. You need to placed an updated linked credit card in the bottom slot and the top slot should be the the pure gold nugget (the one from the mod) after some time it will process.

[2020-07-13 01:08] Crmble commented on #33
Oh cool, one more question, how to I upgrade the card?

[2020-07-13 01:09] Florent98 commented on #33
You just need to have a creditcard (created of course, so by shift right clicking the card), then with the microchip, you right click it (with the credit card still in your inventory) and it will upgrade the credit card.

[2020-07-13 01:11] Crmble commented on #33
That doesnt work for some reason

[2020-07-13 01:12] Florent98 commented on #33
Do you have any message in the chat ?

[2020-07-13 01:12] Crmble commented on #33
Nope

[2020-07-13 01:12] Crmble commented on #33
It just dissapears

[2020-07-13 01:13] Florent98 commented on #33
Then the card is updated, when you hover the credit card does it says Owner : YourName Linked : Yes ?

[2020-07-13 01:14] Crmble commented on #33
No, it just says Upgraded:no

[2020-07-13 01:14] Florent98 commented on #33
Do you have the credit card in your hotbar ?

[2020-07-13 01:14] Crmble commented on #33
Yup

[2020-07-13 01:15] Florent98 commented on #33
It's really weird. Could you send a video ? Because just like that it's hard to see what is wrong..

[2020-07-13 01:15] Crmble commented on #33
sure

[2020-07-13 01:17] Crmble commented on #33
[2020-07-12 20-16-05.zip](https://github.com/FifouBE/EconomyInc/files/4910081/2020-07-12.20-16-05.zip)
Sorry about the weird folder, github doesnt support mp4

[2020-07-13 01:19] Florent98 commented on #33
Hmmm, that's very strange are you with the latest version in 1.15.2 ? Did you try remove the credit card, get a new one and try upgrading it ?

[2020-07-13 01:19] Crmble commented on #33
Ive done all of that, and Yes im in 1.15.2

[2020-07-13 01:19] Florent98 commented on #33
Nothing in the console ?

[2020-07-13 01:21] Crmble commented on #33
![image](https://user-images.githubusercontent.com/68199405/87261821-4bce7880-c47d-11ea-9652-53ac9f166343.png)

[2020-07-13 01:23] Florent98 commented on #33
Oh, ok I got it so you have version 1.6.9.3 of the mod ? Just to be sure, sorry for all those questions

[2020-07-13 01:23] Crmble commented on #33
I think so. Is that the problem?

[2020-07-13 01:23] Florent98 commented on #33
No no, it means I have pushed a wrong update, I need to fix it.

[2020-07-13 01:24] Crmble commented on #33
Oh lol

[2020-07-13 01:31] Florent98 commented on #33
I will push it tomorrow, since it's late for me here.

[2020-07-13 02:00] Crmble commented on #33
Alright but also, sometimes peoples funds will reset to zero.

[2020-07-13 12:22] Florent98 commented on #33
Are you sure you are using the latest version OF the mod ? Because that's a bug that was resolved months ago, please refered to that page https://www.curseforge.com/minecraft/mc-mods/economy-inc

[2020-07-20 00:08] Florent98 commented on #33
Hello did you find the version you need or are you still waiting for help ?

[2020-07-24 22:49] Florent98 commented on #33
I consider this issues closed. Please if you have any problems, open a new issue. Thank you!

[2020-07-24 22:49] #33 closed, assigned to Florent98

[2020-09-10 18:02] TiagoHartung opened #34 "/PLOT CREATE NOT WORKING!!!!!!!!!"
I am playing in the 1.12.2 version, and here the /plot create do not work!

[2020-09-11 12:48] Florent98 commented on #34
The mod is not supported anymore on 1.12.2 Development was stopped at 1.6.2 version. Sorry. Please update to Minecraft 1.14

[2020-09-11 12:48] #34 closed, assigned to Florent98

[2020-09-11 12:51] #29 closed, assigned to Florent98

[2020-09-16 20:05] #30 closed, assigned to Florent98

[2020-09-17 19:00] Florent98 commented on #28
I still haven't found the source of this problem, but I'm going to check more on datapack to see if it's not a mistype you did, because everything works fine on my end with forge.

[2020-11-24 01:06] cam7minus1 opened #35 "Commands not working"
I am not sure where I can get a list of the commands, but only operators can use commands. I tried looking for permissions but it keeps coming up dry. Is the mod broken, or are we doing something wrong?

[2020-11-24 10:10] Florent98 commented on #35
You have a list of commands on the official thread : https://www.curseforge.com/minecraft/mc-mods/economy-inc

it's at the bottom of the mod explanation !

[2020-11-24 19:24] #35 closed, assigned to Florent98

[2020-11-24 19:24] cam7minus1 commented on #35
Ah I figured it out, another mod was fighting with eco inc. Thanks!

[2020-11-29 05:44] Theo-Winters opened #36 "Recommendations"
A few suggestions that would make this mod even better for my personal use

-A config option to allow for automated gold exchanging. (Allowing someone to hopper in nuggets without having to replace their credit card)
-A shop that does the opposite of the vending machine. So a player would set it up to buy items at a set price. same GUI just takes items and gives money from the block owners account

[2020-12-04 16:20] Patrick1417 opened #37 "Deposit Bug with more than 1 Stack of Bills."
I found a bug while adding cash to my bank account.

If you have serveral Stacks of the same bill, it will substract 1 of each, but only count 1.

For example, i have 3 Stacks of 1 Dollar bills in my inventory, i open my credit card to deposit the money into my bank account, press the +1 Button, it will substract 1 of each of the stacks, but will only count for 1 in my bank account.

Could you ple

[2020-12-04 18:24] Florent98 commented on #37
Hello,

thanks for the report, indeed a check was not done server side. It's fixed in version 1.7!

[2020-12-04 18:24] #37 closed, assigned to Florent98

[2020-12-08 18:30] Patrick1417 opened #38 "Enhancement"
Would it be possible to make "Sell" blocks? Like the other buying blocks, just for selling (maybe infinity selling like at the buying blocks)
An Admin determs what item can be sold here and for what price.

It also would be nice if you can adjust the amount of money you need to pay at the buying blocks for more than 500$, maybe 3x 500 or even more.

Thanks

[2020-12-08 20:57] Florent98 commented on #38
Hello, I think what you are asking is coming a future version of the mod. It's in preparation stay tuned !

[2020-12-30 20:46] R9Dfin opened #39 "(recomedation)"
**The Point**
So i have economy server andi wish i could add more than 500 to credit card, because in my server normal salary per (mc day) is 5 000

[2021-01-01 13:05] Saddboi opened #40 "The restock feature for Vending machines."
The Mod is pretty amazing and i can make use of it but the Vending machine has an issue or i dont know if is intended. When you place down one and put the Item and set a price in survival of a single item its good until you bought it. then there is no more in stock and it shows that is selling air and cant restock the item you are trying to sell. breaking it and replacing it does nothing because i

[2021-01-01 15:54] Florent98 commented on #40
Hello! So this is for at least version 1.6.9.4 of the mod, for Minecraft 1.15.x  & 1.16.x

So can you confirm your MC version and version of the mod! Thank you

However, if you have the right version here are some infos :

For seller, when stack is at 0 it will show barrier object. However you can refill with right clicking _your_ seller with the wrench and you should access seller's inventory. No

[2021-01-01 15:56] Florent98 commented on #39
Hello.

It's a feature that I plan but I don't know for when as I'm focused on Seller for now.

Happy holidays!

[2021-01-19 13:09] validol731 opened #41 "Recomendation"
A special furnace for remelting many gold bars at once or for melting gold nugget weight should be added.  it is not very convenient to add one nugget to the card.

[2021-01-24 21:04] 64thParaDux opened #42 "Gold changer crashes server"
had to disable and not use because of it. using with TNP Limitless 3

[2021-01-24 23:22] Florent98 commented on #42
Hello are you able to provide the minecraft version you are using, mod version and the crash report so I can check that ?

Also what's the step to reproduces for the crash to happen?

 Thank you !

[2021-01-29 16:10] Florent98 commented on #42
Hello @64thParaDux,

I just tried a server TNP Limitless 3 with Economy Inc added, and I have no crash happening with the server and this modpack, are you able to send me a crash report ? Have you added other mod to the default modpack also ? Thanks

PS: Without any written logs I can't do anything to solve the problem.. If I have no response in 7 days I'll have to close that case.. :/

Thank you!

[2021-01-29 19:37] 64thParaDux commented on #42
Hello I am so sorry I do not currently have the crash log anymore if it crashes the server again we will send the crash log with a new issue for sure.

[2021-02-23 22:47] #42 closed, assigned to Florent98

[2021-03-09 18:30] githubaccount6 opened #43 "ATM sees multiple stacks of money as just one"
i was adding 3 million to the credit card in stacks of 500, when i realized it took one from every stack i had when i clicked +500..

[2021-03-09 23:29] Florent98 commented on #43
Hey, yes it's already fixed for 1.17!

Once the update is finished it will be deploy with the fix for it :)

[2021-03-09 23:29] #43 closed, assigned to Florent98

[2021-05-04 22:48] DogeMomentt opened #44 "Duplication glitch"
When you apply the wireless ability to the card, if you have something in your offhand the wireless ability thing will get replaced by whatever is in your offhand

[2021-05-05 13:35] Florent98 commented on #44
Hey, thanks for the report, it is fixed in the future version of the mod! :)

[2021-05-12 16:51] jakecroftford opened #45 "Vending machine only sells one item"
Not sure if this is a bug but if I put more than one item in a vending machine while setting it up such as 16 bread it displays as if its going to give 16 bread for the set price but instead just gives one for the price. Also is there no way to make more varied prices in vending machines like if you choose $1 twice it would set the price at $2

[2021-05-14 13:45] Florent98 commented on #45
Hello,
this is not a bug. Seller only sells one item at a time, the cost you see is the cost for one item.

However in the next version you'll get a new way of selling, with the price you desire :)
Stay tuned :)

[2021-05-23 01:25] TornadoGamer10 opened #46 "Bills are Deleted When Adding to Credit Card"
I have been having a bug where if I have multiple stacks on bills in my inventory and I add press the button to add them to my balance, it takes one bill from each stack and only gives the equivalent of 1 bill. This ends up deleting all of the money in all but 1 stack of bills.

https://user-images.githubusercontent.com/61255007/119245070-22658b00-bb2b-11eb-831d-90ed2882a0a9.mp4

[2021-05-23 15:23] Florent98 commented on #46
Hello this is a duplicate of issue #37 and #43. It has been fixed and will be pushed with version 1.7 of the mod. Thanks for the report! :)

[2021-05-23 15:23] #46 closed, assigned to Florent98

[2021-05-24 02:08] TornadoGamer10 opened #47 "Seller Cooldown Resets When Server Is Restarted"
If I restart my server, it sets the cooldownSeller to 20. I'm not sure if this is a feature or a bug. I always keep it at 0 (Not sure if that makes a difference) All of the other settings in the config file stay the same except for the cooldownSeller option.

[2021-05-24 23:55] Florent98 commented on #47
Hello, this is normal. Seller cooldown range is between 20 - 500. It prevents a lot of problem, especially on the server side that can sometimes be slower and duplicate some of the items sold.

``#Cooldown applied for the seller, prevent fast buy.
#Range: 20 ~ 500
cooldownSeller = 20``

Here is where it said

[2021-05-24 23:56] #47 closed, assigned to Florent98

[2021-06-09 21:21] dwightdurmon opened #48 "Smelting gold ingots crashes server"
Hello...

Here is a link to the crashlog: (https://pastebin.com/6tqwX1cj ) (didn't want to post here because it is so long and ugly).

[code]

======
Let me know if you need any additional information and I'll be happy to pull it from the server.

Thanks!

[2021-06-09 22:15] Florent98 commented on #48
Hello!

Can you tell me the configuration you have while the crashes happen, like what's in your inventory, are there other players ?
Also it seems to happen when you place the nugget inside the gold changer, can you confirm ?

Thanks! A picture of your inventory before the crash would be perfect.

[2021-06-11 22:59] dwightdurmon commented on #48
Hello,

For the inventory, it's a random assortment of items, varying by player.  Our server has 4 players on it and the crash has happened to each of us independently.  The crash occurs when we put the gold bar into a Furnace to make a Pure Gold Nugget.

I have uninstalled the mod from the main server.  I'll spin up a backup copy of the server in the next day or so with the mod installed and see

[2021-06-12 11:55] Florent98 commented on #48
Hello,

weird I can't seem to reproduce the bug, I suspect a mod conflict, do you have other mods on the server ? From the crash report it seems to be the block changer that crashes but I can't seem to understand why.. At least without reproducing it I can't seem to understand which parts makes the grame crash.

If it crashes directly when you place the gold bar into the furnace then it's a confli

[2021-07-24 00:33] MonarchGamingFB opened #49 "Recommendation for the mod."
Hey, so I have been using the mod for some time now. It's for a server that I have created. Now I have jobs on my server and want a way to **pay users periodically**. And a way to **remove money** from an account periodically like taxes/bills etc... Is this something that you could do as it would **mean a lot** to me and would improve a lot for servers like my own. Thanks!

[2021-12-15 12:26] pizzaboymax commented on #44
Hello wehn will you fix this glitch, we want to work whith this mod. But whit this glitch you could coppy every Item you want, also Diamonds and other stuff. could you please fix this

[2021-12-15 12:59] Florent98 commented on #44
Hello it is fixed in future patch that is coming but there was major changes between 1.16 and 1.17 so it's coming don't worry :)

[2022-01-27 07:51] NobodyCentral opened #51 "Both a dupe glitch and a suggestion"
The dupe first.
Whenever you attempt to apply the microchip to ur card it turns it into any and everything you might be holding in ur off-hand.

The suggestion.
I was wondering if you could update this to 1.18. but I was also wanting to ask if you could make it so that you could just use regular gold nugget in the exchanger (enabled or disabled through the server config file or even not at all?),

[2022-03-04 16:40] FrAmed46 opened #52 "Config doesnt show up in aternos"
i have an aternos server but when i go to the configs section of the server files there is on config for economy inc. What is happening and how can i fix it?

[2022-04-03 10:20] PlayerUmut opened #53 "Pure Gold Nuggets Not Having Weight On Survival Mode"
When I Was Smelting A Gold For Money, It Came As A Pure Gold Nugget Without Any Weight Information. When I Tried To Convert It To $, It Didn't
Server : Aternos
Client : Forge 1.17.1
Mods : Economy Inc.
SecurityCraft
Just Enough Items

[2022-04-03 14:01] Florent98 commented on #51
Hello!

The dupe glitch was fixed in the latest version 1.6.9.4.
It's possible, but it would ruin the economy since a ingot gives you 9 nuggets so it would really need to be less money added to your account when you put a gold nugget in the exchanger, but it's a possibility.

I'm planning on removing the console spam by adding a log file completely seperate from the regular one.

[2022-04-03 14:02] Florent98 commented on #52
Hello!

You should have a serverconfig folder in the world folder. I hope it answer your question

[2022-08-22 16:46] IVEN2022 opened #54 "ScoreBoard"
How can we add you mod to Scoreboard

Forge 1.16.5

thanks

[2022-08-24 00:08] Florent98 commented on #54
As for now you cannot, only commands allow you to access the user's money. It is tho a good idea to add.

[2022-09-02 10:02] IVEN2022 opened #55 "Add more than 500 , add 1000 and 10000"
please  Add more than 500 , add 1000 and 10000

[2022-09-02 10:02] IVEN2022 opened #56 "add optional commands for balance"
please add optional commands for balance
like /bal

[2022-09-03 22:13] IVEN2022 opened #57 "taxes"
Please add texes to the mod can be configured in the config file

[2022-09-03 22:14] IVEN2022 opened #58 "RentPlot"
Since you have BuyPlot , please can you add Rent Plot , for a duration of time , minimum is 24 hours  , and player can click many time if he have the money so that he can add 24+24+24h for example

[2022-09-03 22:17] IVEN2022 opened #59 "MYSQL"
Any chance to make this mod sync with mysql server , Player name , cash ammount in bank , date of transactions

[2022-09-05 15:44] IVEN2022 opened #60 "Ability to add LOAN SYSTEM"
Ability to add LOAN SYSTEM

[2022-11-07 17:39] Neonn2020 opened #61 "Is 1.16.5 abandoned?"
There are bugs..
You can’t bet more than $500 in a vending machine, but at the same time, you can withdraw as much as you like from the card...

[2022-11-19 11:51] Florent98 commented on #61
 Hello, it's normally up to date, but I don't support it anymore since it's a lot of work to have 3 version running. Sorry.

What are the bugs, I don't understand the bet more than 500$ in the vending machine ?
Also you can withdraw what you have on your card nothing more.

[2022-11-22 15:47] Shadowdu54 commented on #61
@Florent98 bonjour ça serait possible de le mettre en version 1.19.2 ???